@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/variables/globals";

* {
  color: var(--clr-type-primary);
}

body {
  background-color: var(--clr-bg-primary);
}

.wrapper {
  width: 93%;
  margin: 0 auto;
}
