.container {

  .content {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav {
      display: flex;
      align-items: center;
      gap: 40px;
      font-weight: var(--font-medium);

      .li {
        &:hover{
          text-decoration: underline;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 12px;

      svg {
        fill: var(--clr-icon);
      }
    }
  }
}
